@import "base/colors";
$icon-font-path: "/fonts/bootstrap/";
$fa-font-path:   "/fonts/fontawesome";
/* 
 * Overwrite Bootstrap defaults here
 * See http://getbootstrap.com/customize/ for a list of variables
 */
$brand-primary: $navigation-background-color;
$navbar-inverse-bg: $navigation-background-color;
$navbar-inverse-link-color: $navigation-text-color;

@import "bootstrap";
@import "font-awesome";
@import "../../../vendor/bower_components/slick-carousel/slick/slick";
@import "../../../vendor/bower_components/jasny-bootstrap/scss/jasny-bootstrap";
// @import "chosen";
// @import "dropzone";
// @import "fancybox";
// @import "jcrop";

body {
	margin-top: 60px;
}

