@import "base/colors";
$icon-font-path: "/fonts/bootstrap/";
$fa-font-path:   "/fonts/fontawesome";
/**
 * Overwrite Bootstrap defaults here
 * See http://getbootstrap.com/customize/ for a list of variables
 **/
$brand-primary: $navigation-background-color;
$navbar-inverse-bg: $navigation-background-color;
$navbar-inverse-link-color: $navigation-text-color;
$text-color: rgb(51, 51, 51);
/**
 * Jasny Bootstrap Variables
 * See http://www.jasny.net/bootstrap/customize/ for a list of variables
 **/
$navmenu-inverse-bg: $navigation-background-color;
$navmenu-inverse-link-color: $navigation-text-color;
@import "bootstrap";
@import "font-awesome";
@import "../../../vendor/bower_components/slick-carousel/slick/slick";
@import "../../../vendor/bower_components/jasny-bootstrap/scss/jasny-bootstrap";
// @import "chosen";
// @import "dropzone";
// @import "fancybox";
// @import "jcrop";
@media (min-width: 992px) {
  body {
    padding-left: 300px;
  }
}

